<div class="container">

	<div class="city">
		{{input value=city class="input-city" type="text" placeholder="City"}}
		<button class="btn" {{action "showMeWather" city}}>
            OK
        </button>
	</div>

	{{#if today}}
	<div class="today-forecast">
		<div class="current-city">
			{{currentCity}}
		</div>
		<div class="main-row">
			<div class="weather-icon">
				<i class="wi {{weather-icon today.weather.0.main}}"></i>
			</div>
			<div class="temperature">
				{{temperature today.temp.day}}
			</div>
		</div>
		<div class="main-info">
			{{today.weather.0.main}}
		</div>
		<div class="additional-row">
			<div class="rain">
				<i class="wi wi-umbrella"></i> {{today.rain}}%
			</div>
			<div class="speed">
				<i class="wi wi-strong-wind"></i> {{today.speed}} km/h
			</div>
			<div class="cloudy">
				<i class="wi wi-cloud"></i> {{today.clouds}} %
			</div>
		</div>
		<div class="additional-row">
			<div class="humidity">
				<i class="wi wi-humidity"></i> {{today.humidity}} %
			</div>
			<div class="pressure">
				<i class="wi wi-barometer"></i> {{today.pressure}} %
			</div>
		</div>
	</div>
	<!-- /.today -->
	{{/if}}

	<div class="forecast">
		{{#each forecast as |day|}}
		<div class="day">
			<div class="date">
				{{date day.dt}}
			</div>
			<div class="weather-icon">
				<i class="wi {{weather-icon day.weather.0.main}}"></i>
			</div>
			<div class="temperature">
				{{temperature day.temp.day}}
			</div>
			<div class="main-info">
				{{day.weather.0.main}}
			</div>
			<div class="clouds">
				<i class="wi wi-cloud"></i> {{day.clouds}} %
			</div>
		</div>
		{{/each}}
	</div>
	<!-- /.forecast -->

</div>
<!-- /.container -->